  <div id="subscribe">
    <div><a class="fadedlink" href="https://facebook.com/gatilloscom" title="Facebook page">
      <img class="only_lores_inline" src="{{ site.baseurl }}/gfx/site/facebook-logo-32x32.png" width="32px" height="32px" alt="Facebook page"/>
      <img class="only_hires_inline" src="{{ site.baseurl }}/gfx/site/facebook-logo-64x64.png" width="32px" height="32px" alt="Facebook page"/></a>
      <a class="fadedlink" href="https://feeds.feedburner.com/{{ site.feedburner_id }}" title="RSS feed">
      <img class="only_lores_inline" src="{{ site.baseurl }}/gfx/site/rss-32x32.png" width="32px" height="32px" alt="RSS feed"/>
      <img class="only_hires_inline" src="{{ site.baseurl }}/gfx/site/rss-64x64.png" width="32px" height="32px" alt="RSS feed"/></a>
    </div>
  </div>
